@{
    ViewData["Title"] = "Home Page";
}

@model CrashData

<form method="post" asp-controller="Inference" asp-action="Score">


    <div><label>Pedestrian Involved:</label><input type=number asp-for="pedestrian_involved_True" value="1.0" /></div>
    <div><label>Bicyclist involved: </label><input type=number asp-for="bicyclist_involved_True" value="1.0" /></div>
    <div><label>Motorcycle involved:</label><input type=number asp-for="motorcycle_involved_True" value="1.0" /></div>
    <div><label>Improper restraint: </label><input type=number asp-for="improper_restraint_True" value="1.0" /></div>
    <div><label>Unrestrained:</label><input type=number asp-for="unrestrained_True" value="1.0" /></div>
    <div><label>DUI:</label><input type=number asp-for="dui_True" value="1.0" /></div>
    <div><label>Intersection related:</label><input type=number asp-for="intersection_related_True" value="1.0" /></div>
    <div><label>Overturn rollover:</label><input type=number asp-for="overturn_rollover_True" value="1.0" /></div>
    <div><label>Single vehicle:</label><input type=number asp-for="single_vehicle_True" value="1.0" /></div>
    <div><label>Distracted driving:</label><input type=number asp-for="distracted_driving_True" value="1.0" /></div>


    <button type="submit">Calculate</button>
</form>