@{
    ViewData["Title"] = "About";
    Layout = "_Layout1";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../img/about.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About</h1>
                    <span class="subheading">Our Mission</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Within the recent years, Utah's motor vehicle accidents have increased significantly. Despite efforts to redesign roads and promote safer driving, numbers are still on the rise.</p>
                <p>It is our mission to bring significant change and awareness in order to make Utah's roads a safer place. We believe that by informing our lawmakers through detailed analysis of Utah's accident data, we can optimize the safety on the roads.</p>
                <p>We know our analyses can assist lawmakers in deciding how to effectively attack this issue. Drive safe!</p>
            </div>
        </div>
    </div>
</main>
