@{
}

@model Accident 

<div class="text-center">
    <h2>Accident Info:</h2>

    <!--Form-->
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="CRASH_DATETIME">Date And Time:</label>
        <input asp-for="CRASH_DATETIME" /><br />

        <label asp-for="ROUTE">Route:</label>
        <input asp-for="ROUTE" /><br />

        <label asp-for="MILEPOINT">Mile Point:</label>
        <input asp-for="MILEPOINT" /><br />

        <label asp-for="LAT_UTM_Y">Latitude:</label>
        <input asp-for="LAT_UTM_Y" /><br />

        <label asp-for="LONG_UTM_X">Longitude:</label>
        <input asp-for="LONG_UTM_X" /><br />

        <label asp-for="MAIN_ROAD_NAME">Main Road Name:</label>
        <input asp-for="MAIN_ROAD_NAME" /><br />

        <label asp-for="CITY">City:</label>
        <input asp-for="CITY" /><br />

        <label asp-for="COUNTY_NAME">County:</label>
        <input asp-for="COUNTY_NAME" /><br />

        <label asp-for="CRASH_SEVERITY_ID">Crash Severity Rating:</label>
        <select asp-for="CRASH_SEVERITY_ID">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label asp-for="WORK_ZONE_RELATED">Was this Work or Zone related?</label>
        <select asp-for="WORK_ZONE_RELATED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="PEDESTRIAN_INVOLVED">Was there a pedestrian involved?</label>
        <select asp-for="PEDESTRIAN_INVOLVED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="BICYCLIST_INVOLVED">Was there a bicyclist invloved?</label>
        <select asp-for="BICYCLIST_INVOLVED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="MOTORCYCLE_INVOLVED">Was there a motorcycle involved?</label>
        <select asp-for="MOTORCYCLE_INVOLVED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="IMPROPER_RESTRAINT">Was there an improper restraint involved?</label>
        <select asp-for="IMPROPER_RESTRAINT">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="UNRESTRAINED">Was someone not wearing a seatbelt?</label>
        <select asp-for="UNRESTRAINED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="DUI">Was someone driving under the influence of alcohol?</label>
        <select asp-for="DUI">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="INTERSECTION_RELATED">Was there an intersection involved?</label>
        <select asp-for="INTERSECTION_RELATED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="WILD_ANIMAL_RELATED">Was there a wild animal involved?</label>
        <select asp-for="WILD_ANIMAL_RELATED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="DOMESTIC_ANIMAL_RELATED">Was there a Domestic animal involved?</label>
        <select asp-for="DOMESTIC_ANIMAL_RELATED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="OVERTURN_ROLLOVER">Did a car get overturned?</label>
        <select asp-for="OVERTURN_ROLLOVER">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">Was there a commercial motor vehicle involved?</label>
        <select asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="TEENAGE_DRIVER_INVOLVED">Was there a Teenage Driver involved?</label>
        <select asp-for="TEENAGE_DRIVER_INVOLVED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="OLDER_DRIVER_INVOLVED">Was there an older driver involved?</label>
        <select asp-for="OLDER_DRIVER_INVOLVED">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="NIGHT_DARK_CONDITION">Was it at night?</label>
        <select asp-for="NIGHT_DARK_CONDITION">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="SINGLE_VEHICLE">Was there only one car involved?</label>
        <select asp-for="SINGLE_VEHICLE">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="DISTRACTED_DRIVING">Was the driver distracted?</label>
        <select asp-for="DISTRACTED_DRIVING">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="DROWSY_DRIVING">Was the driver tired?</label>
        <select asp-for="DROWSY_DRIVING">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <label asp-for="ROADWAY_DEPARTURE">Was it a roadway departure accident?</label>
        <select asp-for="ROADWAY_DEPARTURE">
            {
            <option value="True">Yes</option>
            <option value="False">No</option>
            }
        </select>

        <button type="submit">Add Accident</button>
    </form>
</div>