@{
}

@model Accident

<!--Confirmation Message-->
<div class="text-center">
    <h3 class="display-4">This Accident was succefully added. Thank you for helping us gather data to help make the roads a safer place!</h3>
</div>