@{
}
@model Accident

<div class="text-center">
    <h2>Confirm Deletion</h2>
    <h3>Are you sure you want to delete this Accident Info?</h3>

    <form method="post" asp-controller="Home" asp-action="Delete">
        <button type="submit">Delete</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

        <input type="hidden" asp-for="crash_id" />
    </form>
</div>