@{
    ViewData["Title"] = "DriveSafe";
    Layout = "_Layout1";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../img/drivesafe.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>DriveSafe</h1>
                    <span class="subheading">Learn more about how you can make our roads safer!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>One of the best ways to help create safer roads is by keeping drivers informed. Here at DriveSafe, we strive to keep the general public informed with the latest statistics and solutions. </p>
                <p>Here are some basic tips to help keep you and others safe:</p>
                <ul>
                    <li>Always wear your seatbelt. It will safe your life in an accident and it's the law.</li>
                    <li>Be on the look out for pedestrians and drivers, especially when making turns.</li>
                    <li>Keep distractions to a minimum. "Yeet"" that cell phone to the back seat while driving!</li>
                    <li>Avoid driving while tired or intoxicated. It is not worth the risk.</li>
                </ul>
                <h3>Want to learn more?</h3>
                <p>Sign up for our newsletter to get more driving tips, updates on local driving legislation, and more!</p>

                <a class="btn btn-danger" href="/Identity/Account/Register">Sign Up</a>

                </div>
            </div>
        </div>
</main>